@import "tailwindcss";

@theme {
  --color-dark: #0f172a;
  --color-primary: #3b82f6;
  --color-accent: #f43f5e;
}

body {
  background-color: var(--color-dark);
  color: #f8fafc;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
